doctype html
html
  head
    title Mishra Academy Of Dance
    block scripts
    block style
  body
   nav#navbar 
    ul  
        div#logo
           img(src="/static/img/logo4.png") 
           | MAD
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Class Info]
        li #[a(href="/") Services]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        |  MishraAcademyOfDance.com   ©  2023 | All rights reserved